* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 1rem;
}

.container {
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        background-color: red;
    }

    to {
        background-color: blueviolet;
    }
}