body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.1rem;
}

.sticky-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1rem 2rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}