* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.cars {
  margin-top: 10px;
  text-align: center;
  width: 10rem;
  padding: 10px;
}

.cars,
::picker(select) {
  /* -webkit-appearance: base-select; */
  appearance: base-select;
}
