*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background: rgb(60, 181, 140);
    color: white;
}
nav ul li{
    padding: 0.5rem;
    list-style: none;
    text-align: center;
}
.dropdown{
    min-width: 100px;
    display: none;
    padding: 10px 0;
    position: absolute;
    top: 33px;
    right: 0;
    z-index: 999;
    background-color: rgb(30, 63, 52);
}
.dropdown li{
    padding: 0.5rem;
}
.dropdown li:hover{
    background-color: blueviolet;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

nav ul li:hover {
    transition: all 0.5s;
    cursor: pointer;
    background-color: rgb(82, 130, 161);
}

.more:hover .dropdown{
    display: block;
    transition: all 0.5s;
}