* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: rgb(26, 58, 186);
  background-color: black;
  text-align: center;
  color: white;
}

.blure {
  filter: blur(2px);
}
