*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon-bar{
    background-color: #555;
    color: #fff;
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

a{
    font-size:20px;
}

i{
    padding: 1rem;
    color: #fff;
    /* border: 1px solid white; */
}
i:hover{
    background-color: #000;
}