* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

.password {
    padding: 1rem;
    width: 100%;
}

.checkbox {
    margin-top: 0.2rem;
    text-align: left;
}