* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(165, 146, 146);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(34, 232, 73);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: blueviolet;
}