*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button{
    padding: 1rem;
    outline: 0;
    border: none;
    background: skyblue;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 180px;
    background-color: red;
}
a{
    display: block;
    padding: 0.7rem;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: black;
}
.dropdown-active{
    display: block;
}
