*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(71, 153, 71);
}

ul{
    display: flex;
    /* flex-direction: column; */
}

i{
    margin-right: 4px;
}

ul li a{
    text-decoration: none;
    color: white;
    /* display: block; */
}
ul li{
    display: inline;
    padding: 1rem;
}
ul li:hover{
    background-color: rgb(184, 126, 126);
}
.active{
    background-color: rgb(94, 118, 188);
}

@media screen and (max-width:400px) {
    ul{
        flex-direction: column;
    }
}