*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 1rem;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

.container{
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-color: red;
}