* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
  font-family: sans-serif;
}

nav {
  background-color: greenyellow;
  position: fixed;
  width: 100%;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}

nav ul li:hover {
  background: skyblue;
}

nav ul li a {
  text-decoration: none;
}

.content {
  margin-left: 5px;
}

.scroll-top {
  width: 50px;
  height: 50px;
  background-color: blueviolet;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 20px;
  cursor: pointer;
}
