* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    padding: 1rem;
}

#myForm input {
    height: 3rem;
    margin-bottom: 5px;
    outline-color: yellow;
}

button {
    padding: 10px 10px;
}

#myForm input::placeholder {
    color: red;
    background-color: black;
    padding: 16px;
}

#myForm2 label {
    margin-left: 10px;
}

h2{
    margin-top: 16px;
}